/* HEADER */
.bg-header {
  background-color: #537b7b;
  min-height: 70px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: white;
}
/* ASIDE-IZQUIERDO */
.menu-item {
  color: #183d3d;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
  background-color: #93b1a6;
  color: #faf1e6;
}

.menu-item.active {
  background-color: #183d3d;
  color: #faf1e6;
  font-weight: bold;
}
/* SECTION-CENTER */
.table thead th {
  background-color: #183d3d;
  color: white;
}
/* ASIDE-DERECHO */


.chat-box {
  min-height: 200px;
  overflow-y: auto;
}
