/* HEADER */
.bg-header {
  background-color: #537b7b;
  min-height: 70px;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: white;
}
/* SECTION-CENTER */

.inputcontainer { 
  padding: 10px;  
  display: flex;
  align-items: center;
}

.inputcontainer textarea {
  flex: content;
  resize: horizontal;
  border: 1px solid #40414f;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
}
.inputcontainer button {
  background-color: #0d6efd;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.inputcontainer button:hover {
  background-color: #13a06d;
}
