/* HEADER */
.bg-header {
    background-color: #537b7b;
    min-height: 70px;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: white;
}

/* MENÚ LATERAL */
aside {
    background-color: #183D3D;
    border-right: 2px solid #FAF1E6;
    padding: 20px;
}

aside h5 {
    color: #FAF1E6;
    font-weight: bold;
}

.menu-item {
    display: block;
    padding: 10px 15px;
    color: #10100f;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease, color 0.3s ease;
}

.menu-item:hover {
    background-color: #183D3D;
    color: #FAF1E6;
}

.menu-item.active {
    background-color: #93B1A6;
    color: #040D12;
    font-weight: bold;
}

.menu-item.active:hover {
    background-color: #183D3D;
    color: #FAF1E6;
}

/* SECTION CENTRAL */
.bg {
    background-color: #183D3D;
    min-height: 100vh;
}

@media (max-width: 768px) {
    .bg {
        min-height: auto;
    }
}

.inputcontainer {
    padding: 10px;
    background-color: #183D3D;
    display: flex;
    align-items: center;
}

.inputcontainer textarea {
    flex: 1;
    border: 1px solid #93B1A6;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    background-color: #040D12;
    color: #FAF1E6;
}

.inputcontainer textarea::placeholder {
    color: #93B1A6;
}

.inputcontainer button {
    background-color: #93B1A6;
    border: none;
    border-radius: 6px;
    color: #040D12;
    padding: 10px 15px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.inputcontainer button:hover {
    background-color: #FAF1E6;
    color: #183D3D;
}

/* CHAT INTERNO */
@media (max-width: 992px) {
    aside {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .chat-box {
        flex-grow: 1;
    }
}
